body {
    font-family:"Poppins", sans-serif;
    color: #22343d;;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;

}

img {
    display: block;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #region header */

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.header-nav-list {
    display: flex;
    /* gap: 30px; */
}

.nav-header-items:not(:last-child) {
    margin-right: 30px;
}


.nav-item-link {
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
    display: block;
}



.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    gap: 21px;
}

.header-button { 
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: transparent;
}

.header-button:hover,
.header-button:focus {
    color: #fff;
    background-color: #02897a;
    border: none;
}

/* #endregion header */

/* #region hero */


.hero {
    padding-top: 25px;
    padding-bottom: 100px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero-title {
    max-width: 372px;
    margin-bottom: 18px;
        font-size: 40px;
        line-height: 1.5;
        color: #22343d;
}

.hero-text {
    max-width: 432px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 1.5;
    color: #22343d;
}

.hero-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-start-button {
    font-family: inherit;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    min-width: 178px;
    height: 53px;
    background-color: #02897a;
}

.hero-video-button {
    font-family: inherit;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background-color: transparent;
}

/* #endregion hero */

/* #region product */

.product {
    padding-bottom: 50px;
}

.product-container {}

.product-title {
    max-width: 470px;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    margin-left: auto; 
    margin-right: auto;
}

.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-list-items {
    width: calc((100% - 90px)/4);
}

.product-list-title {
    font-size: 22px;
    color: #22343d;
    margin-top: 26px;
    margin-bottom: 13px;
}

.product-list-text {
    font-size: 16px;
    line-height: 1.6;
    color:#22343d;
}

.sign-button {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    font-weight: inherit;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background-color: #02897a;
    border: none;

}

/* #endregion product */

/* #region business management */

.management {
    padding-top: 50px;
    padding-bottom: 100px;
}

.management-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.management-list-bold {
    font-weight: 600;
    color: #22343d;
    margin-bottom: 8px;
}

.management-title {
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.management-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    max-width: 445px;
    margin-bottom: 30px;
}

.management-list-items:not:last-child {
    margin-bottom: 25px;
}

.management-list-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 12px;
}

.management-list-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.62;
        color: #22343d;
        max-width: 410px;
        margin-bottom: 25px;
}


/* #endregion business management */

/* #region support */

.support {
    padding-top: 50px;
    padding-bottom: 100px;
}

.support-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-support-list {
    margin-left: 84px; 
}

.support-list-bold {
font-weight: 600;
color: #22343d;
margin-bottom: 8px;
}

.support-title {
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.support-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    max-width: 445px;
}
.support-list {
    max-width: 412px;
    margin-top: 30px;
}

.support-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
}

/* #endregion support */

/* #region collaborative */

.collaborative {
    padding-top: 50px;
    padding-bottom: 100px;
}

.collaborative-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collaborative-list-bold {
    font-weight: 600;
    color: #22343d;
    margin-bottom: 8px;
}

.collaborative-title {
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.collaborative-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    max-width: 434px;
    margin-bottom: 30px;
}

.collaborative-list-items:not:last-child {
    margin-bottom: 25px;
}

.collaborative-list-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 12px;
}

.collaborative-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    max-width: 410px;
    margin-bottom: 25px;
}

/* #endregion collaborative */

/* #region staff */

.staff-container {
    max-width: 956px;
    padding-bottom: 100px;
}

.staff-title {
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin: 0 auto 25px auto;
    
}

.staff-title-text {
    max-width: 465px;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #22343d;
    margin: 0 auto 40px auto;
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 31px 100px;
}

.staff-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.staff-list-text {
    text-align: center;
    color: #2f281e;
    border-radius: 30px;
    padding: 12px;
    border: 1px solid #bcd0e5;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    min-width: 281px;
    
}

.staff-btn {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    font-weight: inherit;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background: #02897a;
}

/* #endregion staff */

/* #region strategies */

.strategies {
    padding-bottom: 171px;
}

.strategies-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.strategies-title-text {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    max-width: 380px;
    margin-bottom: 40px;
}


.strategies-list {
    display: flex;
    gap: 24px;

}

.strategies-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
    
}


.strategies-list-card {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 8px 8px 0 0;
    width: 350px;
    height: 359px;

}

.strategies-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    margin-bottom: 12px;
}

.container-strategies-info {
    padding: 24px 27px 40px 27px;
    background: #fff;

}

/* #endregion strategies */

/* #region price table */
.price {
    padding: 100px 0;
    background-color: #f5f7fa;
    text-align: center;
    min-width: 1110px;
}

.price-title {
    font-size: 34px;
    font-weight: 700;
    color: #22343d;
    margin-bottom: 10px;
}

.price-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #22343d;
    margin-bottom: 50px;
}

.price-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.price-card {
    width: 322px;
    height: 456px;
    background: #fff;
    padding: 32px 0px;
    border-radius: 8px;
    text-align: center;
    justify-items: ;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Внешний вид заголовков карточек */
.price-card-title {
    font-size: 22px;
    font-weight: 700;
    color: #22343d;
    margin-bottom: 8px;
}

.price-card-desc {
    font-size: 16px;
    color: #7d7d7d;
    margin-bottom: 20px;
}

.price-amount {
    font-size: 76px;
    font-weight: 700;
    color: #02897a;
    margin-bottom: 16px;
    min-width: 157px;
}

.price-symbol {
    font-weight: 700;
font-size: 24px;
line-height: 1.25;
letter-spacing: 0em;
color: #02897a;
}
.price-period {
    font-size: 16px;
    font-weight: 400;
    color: #7d7d7d;
    display: block;
}

.price-features {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.price-feature {
    font-size: 16px;
    color: #22343d;
    margin-bottom: 30px;
}

.price-btn {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #02897a;
    padding: 14px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Ховер и фокус на карточку */
.price-card:hover,
.price-card:focus {
    background: #02897a;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-card:hover .price-card-title,
.price-card:hover .price-amount,
.price-card:hover .price-feature,
.price-card:hover .price-symbol,
.price-card:hover .price-period
{
    color: #fff;
}

.price-card:hover .price-card-desc {
    color: #d9d9d9;
}

.price-card:hover .price-btn {
    background: #fff;
    color: #02897a;
}


/* #endregion price table */

/* #region feedback */
.feedback {
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
}

.feedback-container {
    max-width: 1110px;
    margin: 0 auto;
}

.feedback-title {
font-weight: 700;
font-size: 32px;
line-height: 1.78;
letter-spacing: 0.01em;
color: #22343d;
margin-bottom: 10px;
}

.feedback-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.01em;
        text-align: center;
        color: #22343d;
    margin-bottom: 40px;
    max-width: 515px;
    margin-left: auto;
    margin-right: auto;
}

.feedback-list {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.feedback-card {
    border: 1px solid #dedede;
border-radius: 5px;
max-width: 327px;
    background: #fff;
    padding: 28px 26px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.feedback-rating {
    font-size: 20px;
    color: #ffcc00;
    margin-bottom: 16px;
}

.feedback-comment {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.01em;
        color: #737373;
        margin-bottom: 16px;
}

.feedback-user {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.feedback-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #bdbdbd;
}

.feedback-user-info {
    text-align: left;
}

.feedback-user-name {
    font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #22343d; 

}

.feedback-user-name:hover {
       color: #02897a;

}
.feedback-user-role {
font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

/* #endregion feedback */

/* #region promo */
.promo {
    background-color: #02897a;
    border-radius: 32px;
    max-width: 968px;
    margin: 0 auto;
}

.promo-container {
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.promo-content {
    margin: 49px 10px 56px 51px;
}
.promo-title {
    font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        color: #fff;
        max-width: 500px;
    margin-bottom: 46px;
}

.promo-btn {
    font-size: 20px;
    font-weight: 600;
    color: #02897a;
    background-color: #ffffff;
        width: 150px;
        height: 50px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.promo-btn:hover {
    background: #026b5d;
    color: #ffffff;
}

.promo-image {
margin-right: 46px;
}

/* #endregion promo */

/* #region footer */
.footer {
    padding: 100px 0;
    background-color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    
}

.footer-logo {
    font-size: 22px;
    font-weight: 700;
    color: #22343d;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #22343d;
    margin-bottom: 8px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 2.1875;
        color: #22343d;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: #02897a;
}

.footer-newsletter {
    max-width: 300px;

}

.footer-text {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #22343d;
    margin-bottom: 10px;
}

.footer-form {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }

.footer-label {
    display: flex;
}

.footer-input {
    border: 1px solid #bcd0e5;
        border-radius: 4px;
        width: 325px;
        height: 48px;
        background-color: #fff;
        font-weight: 400;
            font-size: 16px;
            line-height: 1.75;
            color: #02897a;
            
}

.footer-input::placeholder {
    color: #02897a;
}

.footer-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn {
    background-color: #02897a;
    width: 131px;
        height: 39px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.footer-btn:hover {
    background: #026b5d;
}


/* #endregion footer */
