body {
    font-family:"Poppins", sans-serif;
    color: #22343d;;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;

}

img {
    display: block;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #region header */

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.header-nav-list {
    display: flex;
    /* gap: 30px; */
}

.nav-header-items:not(:last-child) {
    margin-right: 30px;
}


.nav-item-link {
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
    display: block;
}



.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    gap: 21px;
}

.header-button { 
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: transparent;
}

.header-button:hover,
.header-button:focus {
    color: #fff;
    background-color: #02897a;
    border: none;
}

/* #endregion header */

/* #region hero */


.hero {
    padding-top: 25px;
    padding-bottom: 100px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero-title {
    max-width: 372px;
    margin-bottom: 18px;
        font-size: 40px;
        line-height: 1.5;
        color: #22343d;
}

.hero-text {
    max-width: 432px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 1.5;
    color: #22343d;
}

.hero-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-start-button {
    font-family: inherit;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    min-width: 178px;
    height: 53px;
    background-color: #02897a;
}

.hero-video-button {
    font-family: inherit;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background-color: transparent;
}

/* #endregion hero */


/* #region product */

.product {
    padding-bottom: 50px;
}

.product-container {}

.product-title {
    max-width: 470px;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    margin-left: auto; 
    margin-right: auto;
}

.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-list-items {
    width: calc((100% - 90px)/4);
}

.product-list-title {
    font-size: 22px;
    color: #22343d;
    margin-top: 26px;
    margin-bottom: 13px;
}

.product-list-text {
    font-size: 16px;
    line-height: 1.6;
    color:#22343d;
}

.sign-button {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    font-weight: inherit;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background-color: #02897a;
    border: none;

}

/* #endregion product */